@model BookDetailsViewModel

@{
    ViewData["Title"] = "BookDetails";
         
    var isBookInReadingList = Model.IsBookInReadingList; // Check if the book is already in the reading list
    var toggleButtonText = isBookInReadingList ? "Remove from Reading List" : "Add to Reading List";
    var toggleButtonClass = isBookInReadingList ? "btn-danger" : "btn-primary";
}

<div class="container">
    <h1>Book Details</h1>
    @if (User.IsInRole("Patron"))
    {
        @if (isBookInReadingList)
        {
            <form asp-controller="Books" asp-action="RemoveFromReadingList" method="post">
                <input type="hidden" name="id" value="@Model.BookId" />
                <button type="submit" class="btn @toggleButtonClass" title="@toggleButtonText">
                    <i class="fas fa-bookmark"></i>
                </button>
            </form>
        }
        else
        {
            <form asp-controller="Books" asp-action="AddToReadingList" method="post">
                <input type="hidden" name="id" value="@Model.BookId" />
                <button type="submit" class="btn @toggleButtonClass" title="@toggleButtonText">
                    <i class="fas fa-bookmark"></i>
                </button>
            </form>
        }
    }
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Model.Title</h5>
                    <p class="card-text">@Model.Description+@Model.BookId</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Publication Date:</strong> @Model.PublicationDate.ToShortDateString()
                    </li>
                    <li class="list-group-item">
                        <strong>Genre:</strong> @Model.Genre.Name
                    </li>
                    <li class="list-group-item">
                        <strong>Authors:</strong>
                        <ul>
                            @foreach (var bookAuthor in Model.BookAuthors)
                            {
                                <li>@bookAuthor.Author.AuthorName</li>
                            }
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <strong>Availability:</strong> @Model.AvailabilityStatus
                    </li>
                </ul>
            </div>
            @if (User.IsInRole("Patron"))
            {
                @if (Model.AvailabilityStatus.ToString() == "Available")
                {
                    <form asp-controller="BookTransactions" asp-action="Reserve" method="post">
                        <input type="hidden" name="bookId" value="@Model.BookId" />
                        <button type="submit" class="btn btn-primary">Reserve</button>
                    </form>
                }
                else if (Model.AvailabilityStatus.ToString() == "Reserved")
                {
                    <p>This book is already reserved.</p>
                }
                else
                {
                    <p>This book is not available for reservation.</p>
                }
            }
            @if (User.IsInRole("Librarian"))
            {
            <div class="d-flex justify-content-space-between">
                <form asp-controller="Books" asp-action="EditBook" method="get">
                    <input type="hidden" name="bookId" value="@Model.BookId" />
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
                <div>    </div>
                <form asp-controller="Books" asp-action="DeleteBook" method="post" class="ml-2">
                    <input type="hidden" name="bookId" value="@Model.BookId" />
                    <button type="submit" class="btn btn-primary">Delete</button>
                </form>
            </div>
            }
        </div>
    </div>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <script>
        window.onload = function() {
            alert('@TempData["SuccessMessage"]');
        }
    </script>
}